body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    padding-top: 20px;
    animation: slideInLeft 0.5s;
}

.sidebar h2 {
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    text-align: center;
    transition: background-color 0.3s;
}

li a{
    color: #fff;
    text-decoration: none;
    display: block;
}

li a:hover {
    background-color: #555;
}

.content {
    margin-left: 250px;
    padding: 20px;
    animation: fadeIn 0.5s;
}

.card-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    animation: fadeInUp 1s;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    width: 200px;
    padding: 20px;
    margin-bottom: 20px;
    transition: transform 0.3s;
    margin-right: 200px;
}

.card:hover {
    transform: translateY(-5px);
}

.card-title {
    font-size: 20px;
    margin-bottom: 10px;
}

.btn {
    background: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    transition: background 0.3s;
}

.btn:hover {
    background: #0056b3;
}

.btn:focus {
    outline: none;
}

.btn:active {
    transform: scale(0.98);
}

.btn:disabled {
    background: #ccc;
    cursor: not-allowed;
}

.btn:disabled:hover {
    background: #ccc;
}

.fas {
    margin-right: 5px;
}

@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
a{
    text-decoration: none;
}


@media screen and (max-width: 768px) {
    .sidebar {
        width: 70%;
        position: static;
        padding-top: 0;
        text-align: center;
    }
    

    .card-container {
        flex-direction: row;
        justify-content: space-between;
    }

    .card {
        width: 48%;
    }
}
